src/fund_load/__pycache__/*

.vscode/*
!.vscode/launch.json
!.vscode/settings.json
!.vscode/extensions.json

.obsidian/*

tests/__pycache__/*
tests/usecases/steps/__pycache__/*

.venv/*

.pytest_cache/*

.mypy_cache/*

1/*
poetry.lock
.coverage

src/fund_load/domain/__pycache__/*
tests/domain/__pycache__/*
src/fund_load/usecases/steps/__pycache__/*
src/fund_load/usecases/__pycache__/*
src/fund_load/adapters/__pycache__/*
src/fund_load/ports/__pycache__/*
tests/adapters/__pycache__/*
tests/ports/__pycache__/*
src/fund_load/kernel/__pycache__/*
tests/kernel/__pycache__/*
src/fund_load/config/__pycache__/*
tests/config/__pycache__/*
tests/usecases/__pycache__/*
tests/integration/__pycache__/*
